.header {
    background-color: #17A2B8;
    height: 49px;
    max-width: 100%;
    padding: 0 10%;
}

.header_logo_login {
    background-color: #17A2B8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    height: 49px;
    width: 162px;
    background: url(https://www.mepc.ru/images/thumbnails/images/stories/pony_express_logo-162x49.jpg)no-repeat;
}

@media (max-width: 576px) {
    .header {
        background-color: #fff;
    }
    .header_logo_login {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .header_logo {
        margin-bottom: 5%;
    }
}