.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.btnList {
    display: flex;
    justify-content: space-between;
}

.incr {
    border-radius: 5px;
    border: none;
    background-color: green;
}

.reset {
    border-radius: 5px;
    border: none;
    background-color: yellow;
}

.decr {
    border-radius: 5px;
    border: none;
    background-color: red;
}